<div class="app">

    <div class="row title">
        <div class="col-sm text-center">
            <h1>Crypto Raffle</h1>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div class="col-sm text-center">
            <div>
                <h2 id="eth_raised">--</h2>
            </div>
        </div>
    </div>

    <div class="row">  
        <div class="col-sm-12 text-center"> 
            <div>
                <h3 id="countdown_text">--</h3>
            </div>
            <div id="clockdiv">
              <div>
                <span class="days">0</span>
                <div class="smalltext">Days</div>
              </div>
              <div>
                <span class="hours">00</span>
                <div class="smalltext">Hours</div>
              </div>
              <div>
                <span class="minutes">00</span>
                <div class="smalltext">Minutes</div>
              </div>
              <div>
                <span class="seconds">00</span>
                <div class="smalltext">Seconds</div>
              </div>
            </div>
        </div>            
    </div>

    <br />
    <br />

    <div class="row">
        <div class="offset-sm-4 col-sm-4 text-center">
            <label class="col-form-label" for="supplyRatio">Purchase tickets (max 100)</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="offset-sm-5">
            <input type="range" min="1" max="100" value="1" class="slider" id="num-tickets-slider" /> 

            <input class="form-control text-center" id="num-tickets" value="1" />                               
        </div>
    </div>

    <div class="row">
        <div class="offset-sm-4 col-sm-4 text-center">
            <input type="button" value="Buy" class="btn-primary" id="btn-buy"/>
        </div>
    </div>

</div>
