<div class="row title">
    <div class="col-sm text-center">
        <h1>Ether-lotto</h1>
    </div>
</div>
<form>
    <div class="row">  
        <div class="col-sm-12 text-center"> 
            <div><h3 id="countdown_text">--</h3></div>
            <div id="clockdiv">
              <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
              </div>
              <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
              </div>
              <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
              </div>
              <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
              </div>
            </div>
        </div>            
    </div>
    <div class="row">
        <div class="offset-sm-4 col-sm-4 text-center">
            <label class="col-form-label" for="supplyRatio">Number of tickets</label>
        </div>
    </div>    
    <div class="form-group row">
        <div class="offset-sm-5 col-sm-2 offset-sm-5">
            <input class="form-control text-center" id="num-tickets" value="1" />                               
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-4 col-sm-4 text-center">
            <label class="col-form-label">Cost in Wei</label>
            <div><h3 id="wei_cost">--</h3></div>
            <input type="button" value="Buy" class="btn-primary" id="btn-buy"/>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-4 col-sm-4 text-center">
            <label class="col-form-label">Raised Wei</label>
            <div><h3 id="wei_raised">--</h3></div>
            <label class="col-form-label">Balance</label>
            <div><h3 id="account_balance">--</h3></div>
            <label class="col-form-label">Investor</label>
            <div><h6 id="account">--</h6></div>            
        </div>
    </div>    
</form>