<div id="particles-js"></div>
<div class="row title">
    <div class="col-sm text-center">
        <h1>Ether-lotto</h1>
    </div>
</div>
<form>
    <div class="row">
        <div class="col-sm text-center">
            <div><h2 id="eth_raised">--</h2></div>
        </div>
    </div>
    <div class="row">  
        <div class="col-sm-12 text-center"> 
            <div><h3 id="countdown_text">--</h3></div>
            <div id="clockdiv">
              <div>
                <span class="days">0</span>
                <div class="smalltext">Days</div>
              </div>
              <div>
                <span class="hours">00</span>
                <div class="smalltext">Hours</div>
              </div>
              <div>
                <span class="minutes">00</span>
                <div class="smalltext">Minutes</div>
              </div>
              <div>
                <span class="seconds">00</span>
                <div class="smalltext">Seconds</div>
              </div>
            </div>
        </div>            
    </div>
    <div class="row">
        <div class="offset-sm-4 col-sm-4 text-center">
            <label class="col-form-label" for="supplyRatio">Number of tickets</label>
        </div>
    </div>    
    <div class="form-group row">
        <div class="offset-sm-5 col-sm-2 offset-sm-5">
            <input class="form-control text-center" id="num-tickets" value="1" />                               
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-4 col-sm-4 text-center">
            <input type="button" value="Buy" class="btn-primary" id="btn-buy"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm text-center">
            <label class="col-form-label" id="entropy">Move mouse to generate entropy...</label>                               
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm text-center">
            <label class="col-form-label" id="account_balance">--</label>    
        </div>
    </div>
</form>