/* Custom styles */

/* =======================================================
* 	General
* ======================================================= */

body{
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  background-color: #000;
  position: relative;
  width: 100%; 
  height: 100%; 
  margin: 0px; 
  padding: 0px;
}

h1{
  color: #fff;
  background: rgba(0,0,0,0.7);
  font-weight: 600;
  margin: auto;
  margin-bottom: 10px;
  width: 400px;
  padding: 2%;
}

h2{
  color: #fff;
  font-weight: 100;
}

/* =======================================================
* 	Bootstrap Elements
* ======================================================= */

.title {
    margin-top: 25px;
    margin-bottom: 20px;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.row{
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn-primary {
  border-color: #fff;
    color: #fff;
    background-color: #5C1B91;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  border: none !important;
  border: 2px solid transparent !important;
  padding: 10px 0 10px 0;
  max-width: 100px;
  width: 50%;
  margin: auto;
}
.btn-primary:hover,
.btn.btn-primary:active, 
.btn.btn-primary:focus {
  box-shadow: none;
  background: #FF00C7;
  border: none !important;
  border: 2px solid transparent !important;
  padding: 10px 0 10px 0;
  max-width: 100px;
  width: 50%;
  margin: auto;
}

.col-form-label {
	color: #fff;
}

.offset-sm-5 {
  margin: auto;
}

/* =======================================================
* 	Lottery Elements
* ======================================================= */

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: rgba(0,0,0,0.7);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #000;
	display: inline-block;
}

#eth_raised {
	color: #fff;
  background: rgba(0,0,0,0.7);
  font-weight: 300;
  margin: auto;
  width: 400px;
  padding: 2%;
}

#countdown_text {
	color: #fff;
  background: rgba(0,0,0,0.7);
  font-weight: 300;
  margin: auto;
  width: 400px;
  padding: 2%;
  margin-bottom: 30px;
}

#num-tickets {
  max-width: 100px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

/* =======================================================
*   Slider Elements
* ======================================================= */

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 400px;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #5C1B91;
  border-radius: 15px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #5C1B91;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: #FF00C7;
  -webkit-transition: .2s;
  transition: .2s;
}